@model Order
<div class="text-danger" asp-validation-summary="All"></div>
<form method="post" asp-action="Checkout">
    <div class="form-group my-3">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group my-3">
        <label asp-for="Line1"></label>
        <input class="form-control" asp-for="Line1" />
    </div>
    <div class="form-group my-3">
        <label asp-for="Line2"></label>
        <input class="form-control" asp-for="Line2" />
    </div>
    <div class="form-group my-3">
        <label asp-for="Line3"></label>
        <input class="form-control" asp-for="Line3" />
    </div>
    <div class="form-group my-3">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" />
    </div>
    <div class="form-group my-3">
        <input asp-for="GiftWrap" />
        <label>Hediye Paketi Yap</label>
    </div>
   @* <h4 class="my-3">Ödeme Bilgileri</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CartName">Kart Üzerindeki İsim</label>
                <input type="text" class="form-control" id="CartName" asp-for="@Model.CartName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CartNumber">Kart Numarası</label>
                <input type="text" class="form-control" id="CartNumber" asp-for="@Model.CartNumber" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="ExpirationMonth">Son Kullanma Ayı</label>
                <input type="text" class="form-control" id="ExpirationMonth" asp-for="@Model.ExpirationMonth" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ExpirationYear">Son Kullanma Yılı</label>
                <input type="text" class="form-control" id="ExpirationYear" asp-for="@Model.ExpirationYear" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cvc">CVC</label>
                <input type="text" class="form-control" id="Cvc" asp-for="@Model.Cvc" />
            </div>
        </div>
    </div>*@

    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            Sipariş Tamamla
        </button>

    </div>
</form>